body {
  background-image: url('background.png');
  background-size: cover;
  background-position: 0 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
}

.circle {
  z-index: -1;
  background-color: purple;
  position: absolute;
  top: -380px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.headline h1 {
  font-size: 30px;
  padding: 25px;
}
