@font-face {
  font-family: 'Alata';
  src: url('Alata-Regular.ttf');
}

body {
  background-image: url('background.png');
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  letter-spacing: 0.1em;
  font-family: 'Alata', cursive;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav button {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  background-color: #eece9f;
  cursor: pointer;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  cursor: pointer;
}

.circle {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: -1;
  background-color: #eece9f;
  position: absolute;
  top: -380px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.headline h1 {
  font-size: 30px;
  padding: 25px;
}

.main-content {
  width: 100%;
  position: inline-flex;
}

.main-content span {
  font-size: 4em;
  position: relative;
  bottom: 10px;
  color: #bc6c25;
}

#span-p-1::after {
  content: '\272F';
}

#span-p-2::after {
  content: '\2655';
}
#span-p-3::after {
  content: '\2663';
}

.box {
  display: flex;
  align-items: center;
  width: 40%;
  height: 340px;
  margin: 60px 0;
  background-color: #eece9f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box p {
  width: 60%;
  padding: 30px;
  font-size: 1.6em;
}

.left {
  display: flex;
  gap: 40px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.right {
  display: flex;
  justify-content: right;
  gap: 60px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  position: relative;
  margin-left: auto;
  right: 0;
  z-index: -1;
}

.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 60px;
  width: 90%;
}

.menu-content .item {
  text-align: center;
  border-radius: 60px;
  width: 500px;
  height: 400px;
  background-color: #eece9f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-content .item p {
  font-size: 1.1em;
  margin-top: 15px;
  position: relative;
  bottom: 0;
}

.item-div {
  height: 88%;
}

.one,
.two,
.three,
.four,
.five,
.six {
  overflow: hidden;
}

.one .item-div {
  background-image: url('bread.jpg');
  background-size: cover;
}

.two .item-div {
  background-image: url('croissants.jpg');
  background-size: cover;
}
.three .item-div {
  background-image: url('macarons.jpg');
  background-size: cover;
}
.four .item-div {
  background-image: url('cake.jpg');
  background-size: cover;
}
.five .item-div {
  background-image: url('cinnamonrolls.jpg');
  background-size: cover;
}
.six .item-div {
  background-image: url('donuts.jpg');
  background-size: cover;
}

.about-div {
  width: 55%;
  height: 450px;
  background-color: #eece9f;
  margin-top: 80px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}

.about-div .left-side-about,
.about-div .right-side-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.left-side-about {
  flex: 1;
}

.right-side-about {
  border-left: 1px solid #dda25e9a;
  flex: 1;
}

.about-div p {
  width: 65%;
  padding: 20px 50px;
  background-color: #bc6c25;
  border-radius: 30px;
  font-size: 1.1em;
}

.about-div span {
  font-size: 2.6em;
  color: #bc6c25;
}

#span-1::after {
  content: '\2605';
}

#span-2::after {
  content: '\2764';
}

#span-3::after {
  content: '\2748';
}
